<!DOCTYPE html>
<head>
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<title>在线支付平台后台管理</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/templatemo_main.css">
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<div class="logo">
				<h1>在线支付平台后台管理</h1>
			</div>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">在线支付平台后台管理</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
	</div>
	<div class="template-page-wrapper">
		<div class="navbar-collapse collapse templatemo-sidebar">
			<ul class="templatemo-sidebar-menu">
				<li>
					<form class="navbar-form">
						<input type="text" class="form-control" id="templatemo_search_box"
							placeholder="搜索..."> <span class="btn btn-default">Go</span>
					</form>
				</li>
				<li class="active"><a href="index.html"><i class="fa fa-home"></i>在线支付平台后台管理</a></li>
				<li class="sub closed"><a href="javascript:;"> <i
						class="fa fa-database"></i> 配置管理
						<div class="pull-right">
							<span class="caret"></span>
						</div>
				</a>
					<ul class="templatemo-submenu">
						<li><a href="cfg_campus.html">校区管理</a></li>
						<li><a href="cfg_school.html">学校管理</a></li>
						<li><a href="cfg_grade.html">年级管理</a></li>
						<li><a href="cfg_class.html">班级管理</a></li>
						<li><a href="cfg_stu.html">学生管理</a></li>
					</ul></li>

				<li class="sub closed"><a href="javascript:;"> <i
						class="fa fa-cubes"></i> 数据管理
						<div class="pull-right">
							<span class="caret"></span>
						</div>
				</a>
					<ul class="templatemo-submenu">
					<li><a href="data_pay.html">缴费管理</a></li>
						<li><a href="data-visualization.html">数据分析</a></li>
						<li><a href="data_in.html">数据导入</a></li>
						<li><a href="data_out.html">数据导出</a></li>
					</ul></li>


				<li class="sub closed"><a href="javascript:;"> <i
						class="fa fa-cog"></i> 系统管理
						<div class="pull-right">
							<span class="caret"></span>
						</div>
				</a>
					<ul class="templatemo-submenu">
						<li><a href="m_user.html">用户管理</a></li>
						<li><a href="m_group.html">角色管理</a></li>
						<li><a href="m_log.html">日志管理</a></li>
					</ul></li>

				<li><a href="javascript:;" data-toggle="modal"
					data-target="#confirmModal"><i class="fa fa-sign-out"></i>注销</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->

		<div class="templatemo-content-wrapper">
			<div class="templatemo-content">
				<ol class="breadcrumb">
					<li><a href="index.html">配置管理</a></li>
					<li class="active">班级管理</li>
				</ol>

				<div class="clear"></div>

				<div class="col-md-6 col-sm-6">


						<a href="javascript:;" class="btn btn-info" data-toggle="modal"
					data-target="#add_item">添加班级</a>

	


					
							<div class="btn-group pull-right" id="templatemo_sort_btn">
								<button type="button" class="btn btn-default">排序</button>
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">班级名称</a></li>
									<li><a href="#">班级代码</a></li>
									<li><a href="#">更新时间</a></li>
								</ul>
							</div>
							
							<form class=" pull-right">
						<input type="text" class="form-control" id="templatemo_search_box"
							placeholder="搜索..."> <span class="btn btn-primary">搜索</span>
					</form>
					
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>班级名称</th>
										<th>班级代码</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>1班</td>
										<td>hepingqu</td>
										<td><a href="javascript:;" class="btn btn-default" data-toggle="modal"
					data-target="#edit_item"  class="btn btn-default">编辑</a> <a
											href="javascript:;" class="btn btn-link" data-toggle="modal"
					data-target="#del_item" >删除</a></td>
									</tr>
									<tr>
										<td>2</td>
										<td>2班</td>
										<td>shenhequ</td>
										<td><a href="#" class="btn btn-default">编辑</a> <a
											href="#" class="btn btn-link">删除</a></td>
									</tr>
									<tr>
										<td>3</td>
										<td>3班</td>
										<td>tiexiqu</td>
										<td><a href="#" class="btn btn-default">编辑</a> <a
											href="#" class="btn btn-link">删除</a></td>
									</tr>
									
								</tbody>
							</table>

							<ul class="pagination pull-right">
								<li class="disabled"><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">3 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">4 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">5 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>

						
						


				</div>






			</div>

		</div>



		<!-- Modal -->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">是否确定注销?</h4>
					</div>
					<div class="modal-footer">
						<a href="sign-in.html" class="btn btn-primary">是</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">否</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 添加条目 -->
		<div class="modal fade" id="add_item" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">添加条目</h4>
					</div>
					
							<div class="col-md-6 margin-bottom-15 cfg_add_input">
								<label for="firstName" class="control-label">班级名称</label> <input
									type="text" class="form-control" id="campus_name"
									placeholder="班级名称">
							</div>

							<div class="col-md-6 margin-bottom-15 cfg_add_input">
								<label for="lastName" class="control-label">班级代码</label> <input
									type="text" class="form-control" id="campus_id"
									placeholder="班级代码">
							</div>
							<div class="clear"></div>
							
							
					
					
					<div class="modal-footer">
							<button type="submit" class="btn btn-primary">添加</button>
							<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>													
					</div>
				</div>
			</div>
		</div>
		
		<!-- 编辑条目 -->
		<div class="modal fade" id="edit_item" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">编辑条目</h4>
					</div>
					
							<div class="col-md-6 margin-bottom-15 cfg_add_input">
								<label for="firstName" class="control-label">班级名称</label> <input
									type="text" class="form-control" id="campus_name"
									placeholder="班级名称" value="和平区">
							</div>

							<div class="col-md-6 margin-bottom-15 cfg_add_input">
								<label for="lastName" class="control-label">班级代码</label> <input
									type="text" class="form-control" id="campus_id"
									placeholder="班级代码" value="hepingqu">
							</div>
							<div class="clear"></div>
							
							
					
					
					<div class="modal-footer">
							<button type="submit" class="btn btn-primary">编辑</button>
							<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>													
					</div>
				</div>
			</div>
		</div>
		
		<!-- 删除条目 -->
		<div class="modal fade" id="del_item" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">是否确定删除?</h4>
					</div>
					<div class="modal-footer">
						<a href="cfg_campus.html" class="btn btn-primary">是</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">否</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<footer class="templatemo-footer">
			<div class="templatemo-copyright">
				<p>Copyright &copy; 2015 在线支付平台  后台管理系统</p>
			</div>
		</footer>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/Chart.min.js"></script>
	<script src="js/templatemo_script.js"></script>
	<script type="text/javascript">
		// Line chart
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100)
		};
		var lineChartData = {
			labels : [ "January", "February", "March", "April", "May", "June",
					"July" ],
			datasets : [
					{
						label : "My First dataset",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(220,220,220,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor() ]
					},
					{
						label : "My Second dataset",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor(), randomScalingFactor(),
								randomScalingFactor() ]
					} ]

		}

		window.onload = function() {
			var ctx_line = document.getElementById("templatemo-line-chart")
					.getContext("2d");
			window.myLine = new Chart(ctx_line).Line(lineChartData, {
				responsive : true
			});
		};

		$('#myTab a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});

		$('#loading-example-btn').click(function() {
			var btn = $(this);
			btn.button('loading');
			// $.ajax(...).always(function () {
			//   btn.button('reset');
			// });
		});
	</script>
</body>
</html>